*,
*::before,
*::after {
    box-sizing: border-box;
}


body { font-family: Roboto, sans-serif; color:#434455;
     font-weight: regular; font-size: 16px;
      background-color: #ffffff; margin: 0;}

a {text-decoration: none;}  
ul {list-style: none; margin: 0; padding-left: 0;}   

h1, h2, h3, p {margin: 0;}
img {display: block; max-width: 100%; height: auto;}

.container { 
     
    
    margin: 0 auto;
    padding: 0 15px;
}
.section {padding-top: 26px; padding-bottom: 40px;}

/*header*/
 



/*button section 1*/
.section-main-title {
    background-color: #2e2f42; 
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.5),
        rgba(46, 47, 66, 0.5)),  
    url(../images/Screenshot\ 2026-01-21\ 134744.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-width: 1440px;
    margin: 0 auto;
    align-items: center; padding: 20px 0 460px;}
    .logo{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 16px;
    }
.main-title { 
    font-size: 34px;
    font-weight: 600;
    line-height: 1.07; 
    text-align: center; 
    letter-spacing: 0.02em;
    color: #ffffff;}
.logo-eduhub{
    
   
    width: 80px;
    height: 44px;
}
.great-britain{
   text-align: right;
   padding-right: 90px;
    font-size: 16px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: #ffffff;
}
.sub-title-homepage{
    font-size: 38px;
    font-weight: 1000;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.06em;
    color: #ffffff;
    margin-top: 200px;
    margin-bottom: 200px;
}

.time {
    display: flex;
    justify-content: center;

    gap: 20px;
    font-size: 20px;
    font-weight: bold;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff;
}

.time-text{
    border-radius: 12px;
    border: 2px solid #ffffff;
    padding: 6px 10px;
}
.adress{
    font-size: 14px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff;
    margin-top: 30px;
}






 





 